@import "fonts";

// Fonts
$avenir: "avenir";
$akshar: "akshar";

// Colors

$dark-primary: #121212;
$dark-secondary: #272727;

$light-primary: #FFFFFF;
$light-secondary: #F2F2F2;

$danger: #EE0000;
$success: #03C03C;
$warning: #FFD700;
